[["A" :add]
 ["Alt+Down" :move-down]
 ["Alt+Up" :move-up]
 ["Backspace" :delete-backward]
 ["Ctrl+'+'" :zoom-in]
 ["Ctrl+'-'" :zoom-out]
 ["Ctrl+A" :select-all]
 ["Ctrl+B" :build]
 ["Ctrl+Backspace" :delete-prev-word]
 ["Ctrl+C" :copy]
 ["Ctrl+Comma" :preferences]
 ["Ctrl+D" :select-next-occurrence]
 ["Ctrl+Delete" :delete-next-word]
 ["Ctrl+E" :hide-selected]
 ["Ctrl+End" :end-of-file]
 ["Ctrl+F" :filter-form]
 ["Ctrl+F" :find-text]
 ["Ctrl+G" :find-next]
 ["Ctrl+H" :replace-text]
 ["Ctrl+H" :toggle-component-guides]
 ["Ctrl+Home" :beginning-of-file]
 ["Ctrl+I" :reindent]
 ["Ctrl+K" :delete-to-end-of-line]
 ["Ctrl+L" :goto-line]
 ["Ctrl+Left" :prev-word]
 ["Ctrl+N" :new-file]
 ["Ctrl+O" :open]
 ["Ctrl+P" :open-asset]
 ["Ctrl+Q" :quit]
 ["Ctrl+R" :hot-reload]
 ["Ctrl+Right" :next-word]
 ["Ctrl+S" :save-all]
 ["Ctrl+Slash" :toggle-comment]
 ["Ctrl+Space" :proposals]
 ["Ctrl+T" :scene-stop]
 ["Ctrl+U" :rebundle]
 ["Ctrl+V" :paste]
 ["Ctrl+W" :close]
 ["Ctrl+X" :cut]
 ["Ctrl+Z" :undo]
 ["Delete" :delete]
 ["Down" :down]
 ["E" :rotate-tool]
 ["End" :end-of-line]
 ["Enter" :enter]
 ["Esc" :escape]
 ["F" :frame-selection]
 ["F1" :documentation]
 ["F10" :step-over]
 ["F11" :step-into]
 ["F2" :rename]
 ["F5" :start-debugger]
 ["F5" :continue]
 ["F6" :toggle-pane-left]
 ["F7" :toggle-pane-bottom]
 ["F8" :toggle-pane-right]
 ["F9" :toggle-breakpoint]
 ["Home" :beginning-of-line-text]
 ["Left" :left]
 ["Page Down" :page-down]
 ["Page Up" :page-up]
 ["Period" :realign-camera]
 ["R" :scale-tool]
 ["Right" :right]
 ["Shift+A" :add-secondary]
 ["Shift+Backspace" :delete-backward]
 ["Shift+Ctrl+B" :rebuild]
 ["Shift+Ctrl+Delete" :delete-to-end-of-line]
 ["Shift+Ctrl+E" :show-last-hidden]
 ["Shift+Ctrl+End" :select-end-of-file]
 ["Shift+Ctrl+F" :search-in-files]
 ["Shift+Ctrl+G" :find-prev]
 ["Shift+Ctrl+H" :replace-next]
 ["Shift+Ctrl+Home" :select-beginning-of-file]
 ["Shift+Ctrl+I" :toggle-visibility-filters]
 ["Shift+Ctrl+L" :split-selection-into-lines]
 ["Shift+Ctrl+Left" :select-prev-word]
 ["Shift+Ctrl+R" :open-asset]
 ["Shift+Ctrl+Right" :select-next-word]
 ["Shift+Ctrl+W" :close-all]
 ["Shift+Ctrl+Z" :redo]
 ["Shift+Down" :down-major]
 ["Shift+Down" :select-down]
 ["Shift+E" :erase-tool]
 ["Shift+End" :select-end-of-line]
 ["Shift+F11" :step-out]
 ["Shift+F5" :stop-debugger]
 ["Shift+Home" :select-beginning-of-line-text]
 ["Shift+Left" :left-major]
 ["Shift+Left" :select-left]
 ["Shift+Page Down" :select-page-down]
 ["Shift+Page Up" :select-page-up]
 ["Shift+Right" :right-major]
 ["Shift+Right" :select-right]
 ["Shift+Tab" :backwards-tab-trigger]
 ["Shift+Up" :select-up]
 ["Shift+Up" :up-major]
 ["Space" :scene-play]
 ["Space" :show-palette]
 ["Tab" :tab]
 ["Up" :up]
 ["W" :move-tool]]
